#T_Table{
      width:100%;
      color:#000000; 
      border-collapse:collapse;
      border:1px solid #d6f4ff;
      font-size:12px;
      text-align:center;
      line-height:24px;        
}
#T_Table thead tr{ background-color:#74cce0;font-weight:bold;cursor:pointer }
#T_Table tbody tr{ background-color:#e8f9ff;}
#T_Table tbody tr:hover{background-color:#c4efff;}
#T_Table tbody tr a{cursor:pointer;}


#S_show_page_div{}
#S_show_page_div span{cursor:pointer;margin:5 0 5 10;}
#S_show_page_div span:hover{background-color:#dbdbdb;}
#S_show_page_showPageNum_strong span{ margin-left:5px;}
.ShowPageNumSelect{color:Red;}