#T_Table{
      width:100%;
      color:#000000; 
      border-collapse:collapse;
      border:1px solid #F4F4F4;
      font-size:12px;
      font-family:"lucida Grande",Verdana;
      text-align:center;
      line-height:24px;        
}
#T_Table thead tr{ background-color:#CACACA;font-weight:bold; cursor:pointer }
#T_Table tbody tr{ background-color:White;font-size:12px;}
#T_Table tbody tr:hover{background-color:#F3F3F3;}
#T_Table tbody tr a{cursor:pointer;}


#S_show_page_div{}
#S_show_page_div span{cursor:pointer;margin:5 0 5 10;}
#S_show_page_div span:hover{background-color:#F3F3F3;}
#S_show_page_showPageNum_strong span{ margin-left:5px;}
.ShowPageNumSelect{color:Red;}