#AjaxGradView{
      width:100%;
      color:#000000; 
      border-collapse:collapse;
      border:1px solid #F4F4F4;
      font-size:12px;
      font-family:"lucida Grande",Verdana;
      text-align:center;
      line-height:24px;        
}
#AjaxGradView thead tr{ background-color:#CACACA;font-weight:bold; cursor:pointer }
#AjaxGradView tbody tr{ background-color:White;font-size:12px;}
#AjaxGradView tbody tr:hover{background-color:#F3F3F3;}
#AjaxGradView tbody tr a{cursor:pointer;}
#AjaxTablePage_Div{}
#AjaxTablePage_Div span{cursor:pointer;margin:5 0 5 10;}
#AjaxTablePage_Div span:hover{background-color:#F3F3F3;}
#ShowPageNum_strong span{ margin-left:5px;}
.ShowPageNumSelect{color:Red;}